.create-call{
    display: flex;
    align-items: center;
   margin-top: 10px;
   
}
.create-call h2{
   margin-left: 15px;
  
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px ;
    font-weight: 200;
    color: gray;
}
.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008069;
    border-radius: 100%;
    color: #fff;
    padding: 18px;
    margin-left: 2px;
}

.icon-call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008069;
    border-radius: 12px;
    color: #fff;
    height: 55px;
    width: 55px;
}

h4{
    color: gray;
    font-weight: 550;
}
.light-gray{
    color:lightgray;
}
.info-call{
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
}

.call{
    display: flex;
    position: fixed;
    height: 55px;
    width: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;  
}

.call a{
    text-decoration: none;
    color: white;
}
