* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url(/assets/images/bg-fondo-chat.png);
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header {
    background-color: rgb(0, 128, 105);
    color: white;
    padding: 12px;
}

.actions {
    display: flex;
    align-items: center;
}

.actions a {
    font-size: 20px;
}

.orden-actions {
    display: flex;
    justify-content: space-between;
}

.phone-and-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-and-video a {
    margin-right: 40px;
}

.margin {
    margin-right: 20px;
}


.bg-mostar {
    background-color: rgb(255, 238, 204);
    border-radius: 10px;
    color: rgb(107, 107, 107);
    height: 130px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-mostar p {
    margin: 10px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info div {
    margin: 10px;
}

.info a {
    color: rgb(57, 57, 57);
}

.bg-white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(57, 57, 57);
    border-radius: 10px;
    height: 45px;
    width: 58px;
}

.font-zize {
    font-size: 40px;
}

.font {
    font-size: 25px;
}

.user-contact {
    display: flex;
    align-items: center;
    justify-content: center;

}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(107, 107, 107);
    width: 85%;
    height: 10vh;
    border-radius: 20px;
    margin-left: 5px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    margin-right: 20px;
    font-size: 25px;

}

.microphone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 168, 132);
    border-radius: 100%;
    height: 55px;
    width: 55px;
    margin-right: 2px;
}

.microphone a {
    font-size: 20px;
    color: white;
    ;
}

.ordenador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stiker {
    margin-left: 10px;
    font-size: 25px;
}


#emoji-windows {
    height: 40vh;
    width: 100%;
}

.flex-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: grey;

    .medio {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        border: 1px solid grey;
        border-radius: 20px;

        .a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            padding: 5px 10px;

            text-decoration: none;
        }

        .selected {
            background-color: #ddd;
            border-radius: 20px 0px 0px 20px;
            color: black;
        }
    }
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.lista-iconos {
    padding: 5px;
    color: rgb(0, 168, 132);
    font-size: 25px;
}

#input {/* 
   display: flex; 
    align-items: center; */
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    overflow-y: scroll;

}

#barra{
    color: rgb(0, 168, 132);
    background-color: rgb(0, 168, 132);
    width: 2px;
    height: 23px;
    
}
.hide{
    visibility:hidden !important;
}
#input .place-holder{
    display: flex;
    justify-content: start;
    align-items: center;
    color: grey;

}

.space {
    display: inline-block;
}

.container-scroll {
    height: 30vh;
    overflow: scroll;
}