<!DOCTYPE html>
<html lang="es-ES">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <title>WhatsApp</title>
  <link rel="shortcut icon" href="../assets/images/whatsapp-logo.jpg" type="image/x-icon">

  <link rel="stylesheet" href="../css/header.css" />
  <script src="https://kit.fontawesome.com/eb442954bf.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
  <header>
    <h1 class="color">WhatsAap</h1>
    <ul class="order">
      <li><a><i class="fa-solid fa-camera color"></i></a></li>
      <li><a><i class="fa-solid fa-magnifying-glass color"></i></a></li>
      <li><a id="mostrarOpciones"><i class="fa-solid fa-ellipsis-vertical color"></i></a></li>
    </ul>
  </header>
  <nav class="tag">
    <ul class="list-style">
      <li class="fonz ancho"><a class="animacionColor" onclick="changeTab(0);"><i
            class="fa-solid fa-people-group"></i></a></li>
      <li class="fonz ancho "><a class="animacionColor" onclick="changeTab(1);" class="menuChat"> Chats</a></li>
      <li class="fonz ancho "><a class="animacionColor" onclick="changeTab(2);">Estados</a> </li>
      <li class="fonz ancho"><a class="animacionColor" onclick="changeTab(3);"> Llamadas</a> </li>
    </ul>
  </nav>

  <div id="content"></div>

  <div class="optionsChats " id="optionsChats">
    <div class="options ocultar">
      <a href="../pages/nuevo-grupo.html">Nuevo grupo</a>
      <a href="../pages/nueva-dificion.html" >Nueva difusión</a>
      <a href="../pages/dispositivos-vinculados.html">Dispositivos vinculados</a>
      <a href="../pages/mensajes-destacados.html" >Mensajes destacados</a>
      <a href="../pages/setting.html">Ajustes</a>
    </div>
  </div>
  <script src="../js/navegar.js"></script>
  <script src="../js/animacion.js"></script>
</body>

</html>